#copyright(
    class="footerContent container-fluid"
)       
    p Mikashi | Developed by 
        a(
        href="https://www.linkedin.com/in/leo-kodish-b83aa712b/"
        target="_blank"
        ) Leo Kodish         