<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Lyric.io</title>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="../css/template.css" rel="stylesheet" type="text/css" media="all" />
<link href="../css/fonts.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="2" title="">Search</a></li>
				<li><a href="#" acc3esskey="5" title="">Contact Us</a></li>
			</ul>
		</div>
		<div id="logo">
			<h1><a href="#">Lyric.io</a></h1>
			<span>Automated lyric search for Spotify</span> 
		</div>
	</div>
</div>
<div id="wrapper1">
	<div id="welcome" class="container">
		<div class="title">
			<h2>Welcome to Lyric.io</h2>
			<span class="byline">A Better Way to Get Song Lyrics</span> </div>
		<div class="content">
			<p>Log in to <strong>Lyric.io</strong> using <strong>Spotify</strong> to automatically find lyrics to the music you're listening to. No more wasting time looking up songs, let Lyric.io do the work for you! Lyric.io is powered by Node.js, utilizes the Spotify Web API, and currently searches for lyrics from <a href="http://www.songlyrics.com/" target="_blank">SongLyrics</a> and <a href="https://genius.com/" target="_blank">Genius</a></p>
			<p>You can also use our song search feature to search for songs without having to log in to Spotify!</p>
			<a href="/login" class="button">Log in with Spotify</a> </div>
	</div>
</div>
<div id="wrapper4"> 
	<div id="footer" class="container">
		<div>
			<header class="title">
				<h2>Get in touch</h2>
				<span class="byline">Have Questions or Feedback?</span> </header>
			<ul class="contact"> 
				<li><a href="https://www.linkedin.com/in/leo-kodish-b83aa712b/" class="icon icon-linkedin" target="_blank"</a><span>Twitter</span></a></li>
				<li><a href="https://github.com/leokodish/lyric.io" class="icon icon-github" target="_blank"</a><span>Github</span></a></li>				
				<li><a href="mailto:lkkodish@gmail.com" class="icon icon-envelope"><span>Email</span></a></li>
			</ul>
		</div>
	</div>
</div>
<div id="copyright">
	<p>&copy; Lyric.io. All rights reserved. | Created by <a href="https://www.linkedin.com/in/leo-kodish-b83aa712b/" target="_blank">Leo Kodish</a> | Design by <a href="http://templated.co" rel="nofollow" target="_blank">TEMPLATED</a></p>
</div>
</body>
</html>
