.song-details-top-bar {
    padding: 2rem;
    background-color: black;
}

.song-details-bottom-bar {
    padding: 1rem;
    background-color: black;
}

.song-details-bg {
    background: black;
}

.song-details-card {
    background: black;
}

.song-details-text {
    color: white;
}

.song-details-text-song {
    color: lawngreen;
}

.song-lyrics-div {
    background-color: steelblue;
}

.song-lyrics-text p {
    color: white;
}

#albumArt {
    border: 1px solid white;
    float: right;
}