.song-details-top-bar {
  padding: 1rem;
  background-color: black;
}

.song-details-bottom-bar {
  padding: 1rem;
  background-color: black;
}

.song-details-bg {
  background: black;
}

.song-details-card {
  background: black;
}

.song-details-text {
  color: white;
}

.song-details-text-song {
  color: lawngreen;
  font-size: 3rem;
}

.song-details-text-artist {
  font-size: 1rem;
}

.song-details-text-album {
  font-size: 1rem;
}

.song-lyrics-div {
  background-color: white;
}

.song-lyrics-header {
  color: #9A9A9A;
  display: inline-block;
  border-bottom: 1px solid #9A9A9A;
}

.song-lyrics-text {
  color: black;
  font-size: 1rem;
}

.song-lyrics-content {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  min-height: 100vh;
}

.song-lyrics-sidebar {
  background-color: #F7F8F3;
}

#albumArt {
  border: 1px solid white;
  float: right;
}

#searchSongLabel, #searchArtistLabel {
  font-size: 2rem;
}

#searchSongInputField {
  margin-bottom: 1rem;
}

#searchSubmitBtn {
  margin-top: 1rem;
  text-align: left;
}

#searchForm {
  padding: 0em 32em;
}

.fa-stack {
  font-size: 70px;
  margin: 35px;
}

.fa-circle {
  color: #0D090B;
}

.contact-content {
  margin: 1em 3em 0em;
  font-size: 5em;
}

@media only screen and (max-device-width: 767px) {	/* breakpoint for mobile phones */

  .spotifyProfile {
    display: none;
  }

  /*********************************************************************************/
  /* Search Page                                                                   */
  /*********************************************************************************/
  
  #searchForm {
    padding: 1em 8em;
  }

  #searchForm input[type=text] {
      padding: 3em;
  }

  #searchForm input[type=submit] {
    padding: 1em 3em 1em 3em;
    margin-top: 2em;
  }

  #searchForm label {
    font-size: 3em;
  }

  #searchForm ::placeholder {
    font-size: 1.5em;
  }

  /*********************************************************************************/
  /* Contact Page                                                                  */
  /*********************************************************************************/

  .contact-content {
    margin: 1em 3em 0em;
    font-size: 2em;
  }

  /*********************************************************************************/
  /* Song Not Playing Page                                                         */
  /*********************************************************************************/

  .pageMessageLG {
    font-size: 3.5em;
  }

  .noSongPlayingUpdateBtn {
    padding: 1em 3em 1em 3em;
    margin-top: 2em;
    font-size: 1.5em;
  }

  /*********************************************************************************/
  /* Song Not Found Page                                                           */
  /*********************************************************************************/
  .pageMessageSM {
    font-size: 2em;
  }

  .songNotFoundUpdateBtn {
    padding: 1em 3em 1em 3em;
    margin-top: 2em;
    font-size: 1.5em;
  }

  /*********************************************************************************/
  /* Song Page                                                                     */
  /*********************************************************************************/
  #albumArt {
    margin-top: 2.5em;
  }
  
  .song-details-text p {
    font-size: 2em;
  }

  .songUpdateBtn {
    padding: 0.5em 1em 0.5em 0.5em;
    font-size: 1.25em;
  }

  p.song-details-text-album {
    font-size: 1.5em;
  }

  .song-lyrics-header {
    font-size: 2em;
  }

  .song-lyrics-text {
    font-size: 1.25em;
  }

}

@media only screen and (min-device-width: 768px)  and (max-device-width: 1024px) {	/* breakpoint for tablets */
  
  .spotifyProfile {
    display: none;
  }

  /*********************************************************************************/
  /* Search Page                                                                   */
  /*********************************************************************************/
  
    #searchForm {
      padding: 1em 8em;
    }
  
    #searchForm input[type=text] {
        padding: 2em;
    }
  
    #searchForm input[type=submit] {
      padding: 1em;
      margin-top: 2em;
    }
  
    #searchForm label {
      font-size: 2em;
    }

    #searchForm ::placeholder {
      font-size: 1.5em;
    }

  /*********************************************************************************/
  /* Contact Page                                                                  */
  /*********************************************************************************/

    .contact-content {
      margin: 1em 3em 0em;
      font-size: 2em;
    }

  /*********************************************************************************/
  /* Song Not Playing Page                                                         */
  /*********************************************************************************/

    .pageMessageLG {
      font-size: 3.5em;
    }
    
    .noSongPlayingUpdateBtn {
      padding: 1em;
      margin-top: 2em;
      font-size: 2em;
    }

  /*********************************************************************************/
  /* Song Not Found Page                                                           */
  /*********************************************************************************/
  .pageMessageSM {
    font-size: 2em;
  }

  .songNotFoundUpdateBtn {
    padding: 1em;
    margin-top: 2em;
    font-size: 2em;
  }

  /*********************************************************************************/
  /* Song Page                                                                     */
  /*********************************************************************************/
  #albumArt {
    margin-top: 2.5em;
  }
  
  .song-details-text p {
    font-size: 2em;
  }

  .songUpdateBtn {
    padding: 0.5em 1em 0.5em 0.5em;
    font-size: 1.25em;
  }

  p.song-details-text-album {
    font-size: 1.5em;
  }

  .song-lyrics-header {
    font-size: 2.25em;
  }

  .song-lyrics-text {
    font-size: 1.5em;
  }
  }
  